.DS_Store
*.pyc
*.swp
__pycache__
.cache
.pytest_cache
.tox
.eggs
*.egg-info
.idea/
*.iml
.vscode/
log_f.log
pyhole.py
monitor.log
pihole/__pycache__/*
test.py
Python-3.9.1/
nohup.out
*/venv/*
*/Python-3.9.1.tgz
monitor-dns/log/log_dns_to_server.log
monitor-dns/log/monitor_dns_to_server.log
monitor-dns/config/id_dns_node.txt
monitor-dns/log/black_white_to_server.log
monitor-dns/log/dns_node.log
monitor-dns/service/monitor_dns_to_server.service
monitor-dns/service/send_list_to_server.service
monitor-dns/service/send_log_to_server.service
monitor-dns/log/dns_records.log
automated install/test.sh
monitor-dns/service/send_dns_records.service
monitor-dns/log/Send_raw_blacklist_to_dns_node.log
monitor-dns/service/send_raw_blacklist_pihole.service
